<section class="section">
    <h1 class="title">Apps</h1>
    <h2 class="subtitle">Expanding functionality of Neoan3</h2>
    <p class="has-margin">
        Many functionalities of Neoan3 make use of third party or external tools. When part of the framework,
        they use the namespace Neoan3\Apps.
        However, the way autoloading works enables you to use nearly any composer package and use it within the framework.
        Apps are stand-alone solutions that do not require neoan3 nor does neoan3 require them. However, creating a new project will ship with the following packages:
    </p>



    <h2 class="subtitle">Bundled apps</h2>
    <p>
        <a target="_blank" href="https://github.com/sroehrl/neoan3-template"><strong>neoan3-template (default template engine)</strong></a>
    </p>
    <p>
        <a target="_blank" href="https://github.com/sroehrl/neoan3-db"><strong>neoan3-db (default mysql wrapper)</strong></a>
    </p>
    <p>
        <a target="_blank" href="https://github.com/sroehrl/neoan3-stateless"><strong>neoan3-stateless (JWT-implementation)</strong></a>
    </p>


    <h2 class="subtitle has-margin">Recommended apps</h2>
    <p>
        <a target="_blank" href="https://github.com/sroehrl/neoan3-ops"><strong>neoan3-ops (default string & encryption handler)</strong></a>
    </p>
    <p>
        <a target="_blank" href="https://github.com/sroehrl/neoan3-session"><strong>neoan3-session (session handler)</strong></a>
    </p>
    <a target="_blank" class="button is-link is-outlined has-margin" href="https://github.com/search?q=neoan3-">
        Find apps on GitHub
    </a>

    <div class="has-margin">
        <h2 class="subtitle">Practical Application</h2>
        <p>
            Regardless of what source you use, you only have to add what you need. There are two main governing
            principles to
            creating a Neoan3 App:
        </p>
        <p>1. It is good practice to have the naming convention be neoan3-{{appName}}, albeit not required</p>
        <p>2. Build agnostic from the framework. This is to make it possible to use in other frameworks.</p>
    </div>

</section>

