<section class="section">
    <h1 class="title">Apps</h1>
    <h2 class="subtitle">Expanding functionality of Neoan3</h2>
    <p class="has-margin">
        Neaon3 is a very light framework that has a lot of functionality out-of-the-box, however, there is a plethora of
        apps that are available to add as needed. Neoan3 apps not only extend the functionality of the Neoan3 framework but
        they can be used outside of the framework as well as an add-in.
    </p>

    <h2 class="subtitle">Sources of Apps</h2>
    <p>There are three primary sources for Neoan3 Apps:</p>
    <p>
        <a href="https://www.npmjs.com/package/neoan3-cli"><strong>1. NPM</strong></a>
    </p>
    <p>
        <a href="https://packagist.org/packages/neoan3-apps/"><strong>2. Composer (via Packagist)</strong></a>
    </p>
    <p>
        <a href="https://github.com/sroehrl/"><strong>3. Github</strong></a>
    </p>

    <div class="has-margin">
        <h2 class="subtitle">Practical Application</h2>
        <p>
            Regardless of what source you use, you only have to add what you need. There are two main governing
            principles to
            creating a Neoan3 App:
        </p>
        <p>1. It is good practice to have the naming convention be neoan3-{{appName}}, albeit not required</p>
        <p>2. Build agnostic from the framework. This is to make it possible to use in other frameworks.</p>
    </div>

</section>

