<section class="section">
    <h1 class="title">Installation</h1>
    <p>There are multiple ways to install & run neoan3. We will assume a local LAMP throughout this documentation if not otherwise stated.</p>
    <p class="has-margin">
        In general, make sure your system is equipped with the <a href="{{base}}prerequisites/">prerequisites</a> before you start.
    </p>
    <h2 class="subtitle">Using the CLI tool</h2>
    <p>You don't have to use the cli tool, but it greatly simplifies your work with neoan3 and automates many otherwise manual processes.</p>
    <p>First, create and enter your project directory. For local development, creating your project directly where your localhost would serve it is fine.</p>
    <article class="message has-margin">
        <div class="message-header">
            <p>Note!</p>
        </div>
        <div class="message-body has-text-white">
            Unlike many other cli helpers, neoan3-cli will always run in context of the application-root. For a given installation, you want to be in the directory itself.
            <br>
            Example: Assuming you want to run your application at http://localhost/myProject/
            <br><code>C:\xampp\htdocs\myProject><span class="blinking">|</span></code> <span class="has-text-success">Correct starting point</span>
            <br><code>C:\xampp\htdocs><span class="blinking">|</span></code> <span class="has-text-danger">Wrong starting point</span>

        </div>
    </article>
    <p>When in the desired context, run <code>neoan3 new app myProject</code>. The last parameter is used for .htaccess routing and should match the directory you are in.
       This is interesting to note as in a deployment scenario changes to the .htaccess are very likely. (In almost all cases a change of `RewriteBase` will suffice)</p>
    <p class="has-margin">
        You should already have a running instance at this point. You may check so by visiting <code>http://localhost/myProject</code>
    </p>
    <article class="message has-margin">
        <div class="message-header">
            <p>Default controller</p>
        </div>
        <div class="message-body has-text-white">
            The file <code>default.php</code> defines your default endpoint (home page) and 404 controller (optional). Let's create our own home page. Go back to your console:
            <br><code>neoan3 new component home</code><br>
            Now open the file <code>default.php</code> and change the default controller from `demo` to `home`. Refresh your browser.
            <br>While here, let's get a first impression of the routing mechanism. Visit <code>http://localhost/myProject/demo</code>

        </div>
    </article>
    <p class="has-text-warning">Trouble?</p>
    <p>Sometimes composer is unable to run silently. If you get an error message from composer, please run <code>composer update</code> after installation. It might be necessary to delete the vendor folder first.</p>
    <p>Another common problem are permissions or PATH-variable issues with composer, npm or GIT. Such issues exceed this documentation, but help can easily be found online.</p>
    <p>These issues can also lead to the cli tool not being triggered. If "neoan3" is an unknown command to your system, please ensure proper installation.</p>
    <h2 class="subtitle has-margin">Manual installation</h2>
    <p>You may also clone the main repository or download a package from <a href="https://github.com/sroehrl/neoan3">https://github.com/sroehrl/neoan3</a>.
       You will have to run composer after download & possible extraction.
    </p>
</section>
