<section class="section">
    <h1 class="title">Composer Packages</h1>
    <h2 class="subtitle">Neoan3 and Composer packages</h2>
    <p>
        <a href="https://packagist.org/packages/neoan3-apps/" target="_blank"><strong>Packagist</strong></a> is an
        aggregator of public PHP packages. Using a CLI tool known as Composer you can download and install any neoan3-app.
    </p>

    <div class="has-margin">
        <h2 class="subtitle">Pre-existing composer packages</h2>
        <p>
            As of this writing, Packagist has an lengthy list of neoan3-apps that were created by Stefan Roehrl, the mind
            behind Neoan3. Each of these apps have their source code available on <a href="https://github.com/sroehrl/"
                                                                                     target="_blank"><strong>Github</strong></a>.
        </p>
    </div>

</section>
