<section class="section">
    <h1 class="title">Custom Components</h1>
    <h2 class="subtitle">Limitless</h2>
    <p>
        What can you say about the ultimate way out of conventions other than: there are no rules.
        Traditionally, custom components are used to write front-end code that you want to render server-side
        (for example, because you want to write dynamic variables before serving JavaScript).
        However, in actuality your creativity is the limit as a custom component is practically anything you want
        the core to load rather than just being a static dependency or asset.
    </p>

    <h2 class="subtitle has-margin">Example</h2>
    <p>
        A notable example of such a use case is <a href="https://github.com/vast-n3/v2#readme">vast-n3</a>,
        an approach to writing front-end code (or what feels like it), while a neoan3 core builds the backend accordingly,
        resulting in an extremely fast development experience.
    </p>

</section>
