<section class="section">
    <h1 class="title">neoan3 cli tool</h1>
    <h2 class="subtitle">Automation</h2>
    <div class="message is-warning">
        <div class="message-body has-background-grey has-text-white-ter">
            neoan3 recently has officially switched over to a PHP-based cli helper.
            Migrating from the node cli tool requires deletion of the global npm package!
        </div>

    </div>
    <p>
        The cli tool helps you greatly with development of neoan3 components & frames.
        The full and current documentation can be found at <a href="https://github.com/neoan3/cli">https://github.com/neoan3/cli</a>.
        Here we only want to go into a few important functions.
    </p>
    <article class="message has-margin">
        <div class="message-header">
            <p>Your ultimate dev helper</p>
        </div>
        <div class="message-body has-text-white">
            Using the cli tool to the fullest greatly speeds up your development. Not only does it create frames, components and models,
            it also generates unit tests for you that are more than just a boiler plate.
            Continuous integration has never been so easy and efficient.
        </div>
    </article>
    <h2 class="subtitle has-margin">CLI-Templating</h2>
    <p>Since neoan3 is highly customizable, creation of components can be influenced by templates.
       Neoan3 does not require the use of the cli-tool, nor does the cli-tool require templates. <br>
       This is why neoan3 currently does not ship with a folder _template by default. <br>
        <strong>To use templating of neoan3-cli, create the folder <i>_template</i></strong>. <br>
       In order to overwrite the way components are generated, we can now place template-files in this template folder.
    </p>
    <h3 class="is-size-5 has-margin">Example: Custom element as React component</h3>
    <p>1. create <i>_template/ce.js</i></p>
    <pre class="has-margin"><code class="code-block">
        class {{name}} extends React.Component {
            render() {
                return &lt;h1>Hello, {this.props.name}&lt/h1>;
            }
        }
    </code></pre>
    <p class="has-margin">2. Run neoan3-cli:</p>
    <code>neoan3 new component test</code>
    <p><br>Select "Custom Element" when prompted</p>
    <p class="has-margin">File component/Test/test.ce.js:</p>
    <pre class="has-margin"><code class="code-block">
        class Test extends React.Component {
            render() {
                return &lt;h1>Hello, {this.props.name}&lt/h1>;
            }
        }
    </code></pre>
    <h2 class="subtitle has-margin">Migration</h2>
    <p>The cli-tool creates, updates and executes neoan3 migration.json automatically.
       Neoan3 assumes you are working with VCS and therefore expects a simple structure of your tables to be sufficient.
        The cli-tool makes assumptions based on the model-names. <strong>The existence of a "TestModel", for instance,
                                                                         would connect the model to tables "test" as well as "test_entry", should they exist. </strong>
        <br>
    </p>
    <h3 class="is-size-5 has-margin">Example: write TestModel migrate.json</h3>
    <p class="has-margin">1. Create model (if not already existing)</p>
    <code>neoan3 new model test</code>
    <p class="has-margin">
        2.1 If table(s) <strong>already exist</strong> (e.g structured like shown below)
    </p>

    <pre class="has-margin"><code class="code-block">
        CREATE TABLE `test` (
          `id` binary(16) NOT NULL PRIMARY KEY,
          `name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
          `insert_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
          `delete_date` datetime DEFAULT NULL
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
        CREATE TABLE `test_entry` (
          `id` binary(16) NOT NULL PRIMARY KEY,
          `test_id` binary(16) DEFAULT NULL,
          `entry` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
          `insert_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
          `delete_date` datetime DEFAULT NULL
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
    </code></pre>
    Run <code>neoan3 migrate models down</code>
    <p class="has-margin">
        2.2 If model tables <strong>do not</strong> exist in your database
    </p>
    Run <code>neoan3 develop</code> (if not already running)
    <p class="has-margin">
        Visit <a href="http://localhost:8080/migrate">http://localhost:8080/migrate</a>
    </p>
    <p class="has-margin">
        3 Design your table(s) and write your migration (write out).
    </p>
    Run <code>neoan3 migrate models up</code>

</section>
