<section class="section">
    <h1 class="title">Templating</h1>
    <h2 class="subtitle">Dynamic Templates for your content</h2>
    <p>
        Let's first clarify potential confusion: There are two types of templates. The ones used for generation with the cli-tool, and the view templates.
        Here we want to focus on creating dynamic view templates.
    </p>
    <a class="button is-outlined is-primary has-margin" href="https://packagist.org/packages/neoan3-apps/template">learn more about neoan3-apps/template</a>
    <article class="message has-margin">
        <div class="message-header">
            <p>Note: Alternative template engines</p>
        </div>
        <div class="message-body has-text-white">
            What you will find here is based on the assumption you are using the default neoan3-apps/template package (installs with neoan3).
            You can easily hook up any template engine as well. As a matter of fact, you can inject your complete own render logic.
        </div>
    </article>
    <h2 class="subtitle has-margin">Passing variables to the template</h2>
    <p class="has-margin">component/MyComponent/MyComponent.ctrl.php</p>
    <pre><code class="code-block">
        &lt;?php


        namespace Neoan3\Components;

        use Neoan3\Core\Unicore;

        class MyComponentController extends Unicore{


            function init()
            {

                $this->uni('myFrame')
                    ->addRenderParameter('headline', fn() => 'My variable')
                    ->addRenderParameter('content', fn() => 'This is some fine text')
                    // the hook-method accepts 2-3 arguments
                    // the first argument describes the targeted part of the page
                    // (possible values are 'header', 'main' & 'footer')
                    // the second argument provides the wanted template
                    // (here the file /component/MyComponent/myComponent.view.html)
                    // the third argument accepts variables as array
                    // (usually the data will directly come from a model / database)
                    ->hook('main', 'myComponent')
                    ->output();
            }
        }
    </code></pre>
    <p class="has-margin">component/MyComponent/myComponent.view.html</p>
    <pre><code class="code-block">
        &lth1>{{headline}}&lt/h1>
        &ltp>{{content}}&lt/p>
    </code></pre>
    <p class="has-margin">Result:</p>
    <pre><code class="code-block">
        &lth1>My variable&lt/h1>
        &ltp>This is some fine text&lt/p>
    </code></pre>
    <h2 class="subtitle has-margin">A step further</h2>
    <p>
        While the full documentation for templating can be found at <a href="https://github.com/sroehrl/neoan3-template#neoan3-appstemplate">GitHub</a>,
        let's look into an examples of advanced usage:
    </p>
    <pre class="has-margin"><code class="code-block">
        &lt!--   assuming pass-in is ['numbers' => ['name' => 'one', 'name' => 'two'] ]     -->
        &lth1>Numbers:&lt/h1>
        &ltul>
            &ltli n-for="numbers as number" n-if="number.name != 'one'">{{number.name}}&lt/li>
        &lt/ul>
    </code></pre>
    <p class="has-margin">Result:</p>
    <pre><code class="code-block">
        &lt!--   assuming pass-in is ['numbers' => ['name' => 'one', 'name' => 'two'] ]     -->
        &lth1>Numbers:&lt/h1>
        &ltul>
            &ltli>two&lt/li>
        &lt/ul>
    </code></pre>
</section>
