<script>
    let burger = document.querySelector('#burger');
    let menuContainer = document.querySelector('#menu-container');
    burger.addEventListener('click',function(){
        if(burger.classList.contains('is-active')){
            /* hide main menu */
            menuContainer.classList.add('is-hidden-mobile');
            /* deactivate burger */
            burger.classList.remove('is-active');
        } else {
            /* show main menu */
            menuContainer.classList.remove('is-hidden-mobile');
            /* activate burger */
            burger.classList.add('is-active')
        }
    });
</script>
<aside class="menu custom-menu" id="main-menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a href="{{base}}getting-started/" id="getting-started">Getting started</a></li>
        <li><a href="{{base}}core-concepts/" id="core-concepts">Core Concepts</a></li>
        <li>
            <a id="installation" href="{{base}}installation/">Installation / Setup</a>
            <ul>
                <li><a id="prerequisites" href="{{base}}prerequisites/">Prerequisites</a></li>
                <li><a id="cli-tool" href="{{base}}cli-tool/">CLI</a></li>
                <li><a id="folder-structure" href="{{base}}folder-structure/">Folder structure</a></li>
                <li><a id="templating" href="{{base}}templating/">Templating</a></li>
                <li><a id="frame" href="{{base}}frames/">Frames</a></li>
            </ul>
        </li>
        <li><a href="{{base}}unicore-singleton/" id="unicore-singleton">Unicore singleton</a></li>
        <li><a href="{{base}}testing/" id="testing">Testing & CI</a></li>
        <li><a href="{{base}}deployment/" id="deployment">Deployment</a></li>
    </ul>
    <p class="menu-label">
        Routing
    </p>
    <ul class="menu-list">
        <li>
            <a id="routing" href="{{base}}routing/">General</a>
            <ul>
                <li><a id="routing-api" href="{{base}}routing-api/">API</a></li>
                <li><a id="routing-web" href="{{base}}routing-web/">Web</a></li>
                <li><a id="routing-node-module" href="{{base}}routing-node-module/">Node & custom elements</a></li>
            </ul>
        </li>


    </ul>
    <p class="menu-label">
        Components
    </p>
    <ul class="menu-list">
        <li>
            <a id="component-types" href="{{base}}component-types/">Types</a>
            <ul>
                <li><a id="route-component" href="{{base}}route-component/">Route component</a></li>
                <li><a id="api-component" href="{{base}}api-component/">API component</a></li>
                <li><a id="custom-component" href="{{base}}custom-component/">Custom component</a></li>
            </ul>
        </li>
    </ul>
    <p class="menu-label">
        Model
    </p>
    <ul class="menu-list">
        <li>
            <a id="model" href="{{base}}models/">Models</a>
            <ul>
                <li><a id="model-migration" href="{{base}}model-migration/">Migration</a></li>
                <li><a id="model-transformer" href="{{base}}model-transformer/">Transformer</a></li>
            </ul>
        </li>
    </ul>
    <p class="menu-label">
        Provider
    </p>
    <ul class="menu-list">
        <li>
            <a id="model" href="{{base}}provider/">Decoupling & Abstraction</a>

        </li>
    </ul>
    <p class="menu-label">
        3rd Party & Plugins
    </p>
    <ul class="menu-list">
        <li><a id="apps" href="{{base}}apps/">Apps</a></li>
        <li><a id="composer-packages" href="{{base}}composer-packages/">Composer packages</a></li>
        <li><a id="npm-packages" href="{{base}}npm-packages/">npm packages</a></li>

    </ul>
    <p class="menu-label">
        Collaboration
    </p>
    <ul class="menu-list">
        <li><a id="collaboration" href="{{base}}collaboration/">Working with teams</a></li>
    </ul>
</aside>
