<aside class="menu custom-menu" id="main-menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a href="{{base}}getting-started/" id="getting-started">Getting started</a></li>
        <li>
            <a>Installation / Setup</a>
            <ul>
                <li><a>Prerequisites</a></li>
                <li><a>CLI</a></li>
                <li><a>Folder structure</a></li>
                <li><a>Templating</a></li>
            </ul>
        </li>
    </ul>
    <p class="menu-label">
        Routing
    </p>
    <ul class="menu-list">
        <li>
            <a>General</a>
            <ul>
                <li><a>API</a></li>
                <li><a>Web</a></li>
            </ul>
        </li>


    </ul>
    <p class="menu-label">
        Components
    </p>
    <ul class="menu-list">
        <li>
            <a>Types</a>
            <ul>
                <li><a>Route component</a></li>
                <li><a>API component</a></li>
                <li><a>Custom component</a></li>
            </ul>
        </li>
    </ul>

    <p class="menu-label">
        3rd Party & Plugins
    </p>
    <ul class="menu-list">
        <li><a>Apps</a></li>
        <li><a>Composer packages</a></li>
        <li><a>npm packages</a></li>

    </ul>
    <p class="menu-label">
        Collaboration
    </p>
    <ul class="menu-list">
        <li><a>Working with teams</a></li>
    </ul>
</aside>