<section class="section">
    <h1 class="title">neoan3 </h1>
    <h2 class="subtitle">The real life PHP framework</h2>
    <div class="columns">
        <div class="column">
            <p>
                Be up & running in less than 3 minutes. <br>
                Fastest "Hello world" example directly in your terminal:
            </p>
            <pre><code class="code-block">
                npm i -g neoan3-cli
                mkdir demo
                cd demo
                neoan3 new app demo
                php -S localhost:8080 _neoan/server.php
            </code></pre>
            <p>
                You can now start playing around with the view. The demo-output can be found in <code>/component/demo/demo.view.html</code>
            </p>

        </div>
        <div class="column">
            <div class="notification is-success">
                What is an all propose framework? And why do we use it? <br>
                Re-usability, maintainability, modularity and abstraction are only a couple of the terms heard when we
                talk about frameworks.
                But where is the line between strict formats for rapid development and flexibility to bring freedom?<br>
                Once learned, neoan3 delivers the possibility to develop <strong>very efficient and fast</strong>
                without loosing freedom.
                Relevant core functionality is intentionally structured so it can easily be "hacked" to one's needs,
                without endangering updatability.
            </div>
        </div>
    </div>
    <h2 class="title">Convinced?</h2>
    <p class="subtitle">Then let's jump into the details</p>
    <p>
        neoan3 is intended for apache and nginx and works closely with concepts of nodeJS.
        The result is a true all purpose framework for the full stack developer. Development of modular functionality
    </p>
</section>