<section class="section">
    <h1 class="title">neoan3 </h1>
    <h2 class="subtitle">The real life PHP framework</h2>
    <div class="columns">
        <div class="column">
            <p>
                Be up & running in less than 3 minutes. <br>
                Fastest "Hello world" example directly in your terminal:
            </p>
            <pre class="has-margin"><code class="code-block">
                npm i -g neoan3-cli
                mkdir demo
                cd demo
                neoan3 new app demo
                php -S localhost:8080 _neoan/server.php
            </code></pre>
            <p>
                You can now start playing around with the view. The demo-output can be found in <code>/component/demo/demo.view.html</code>
            </p>

        </div>
        <div class="column">
            <div class="notification is-success">
                <h3 class="subtitle">How amazing is it?</h3>
                <p class="has-margin">
                    <strong>
                        <a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?hl=en&url=http%3A%2F%2Fneoan.us%2Fneoan3docs%2Fgetting-started%2F">Google</a>
                        <a target="_blank" href="{{base}}asset/GTmetrix-report-neoan.us.pdf">GTmetrix</a>
                    </strong>
                </p>

                <h3 class="subtitle">What is an all propose framework? And why do we use it?</h3>
                Re-usability, maintainability, modularity and abstraction are only a couple of the terms heard when we
                talk about frameworks.
                But where is the line between strict formats for rapid development and flexibility to bring freedom?<br>
                Once learned, neoan3 delivers the possibility to develop <strong>very efficient and fast</strong>
                without losing flexibility.
                Relevant core functionality is intentionally structured so it can easily be "hacked" to one's needs,
                without endangering updatability. <br><br>

            </div>
        </div>
    </div>
    <h2 class="title">Targeted audience</h2>
    <p class="subtitle">Power to the people</p>
    <p>
        Specialization into designers, front-end-, back-end-developers and SysOps has offered benefits to the industry.
        However, not only is it common for smaller to medium sized projects to have only a hand full of resources at
        their disposal,
        the separation itself often endangers productivity if "one hand does not know what the other does". <br>
        neoan3 inhabits all of these worlds, but mostly centers around one simple idea:
        <strong>One component's front- and back-end is handled by one full-stack artist.</strong>
        This does not mean that collaboration is limited. neoan3 can be a single-page application or a pure backend-api with ease.
        It merely means that it is crafted for the <strong>one who does it all</strong> in mind. <br><br>

    </p>
    <h2 class="title">Interested?</h2>
    <p class="subtitle">Then let's jump into details</p>
    <p>
        neoan3 is intended for Apache and NGINX and works closely with concepts of the modern web (including JS-modules
        & custom elements).<br>
        The result is a true all purpose framework for the full stack developer. <br>
        Development of modular functionality is done in components. These components contain view and controller
        functionality -
        in the case of hybrid components this means JS & PHP controllers. <br>
        Models are kept separately to provide an easier security layer on data. <br><br>
        This sounds a little strange? Worry not, it will make so much more sense soon ...

    </p>
</section>
